.faculty-team8 {
  height: 753px;
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.faculty-max-width {
  gap: var(--dl-layout-space-twounits);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.faculty-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
 
.faculty-slider-slide1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.faculty-card1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.faculty-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.faculty-title1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.faculty-text11 {
  align-self: center;
  font-style: normal;
  font-weight: 600;
}
 
.faculty-text12 {
  text-align: center;
}
 
.faculty-card2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.faculty-content3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.faculty-title2 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.faculty-text13 {
  align-self: center;
  font-style: normal;
  font-weight: 600;
}
 
.faculty-text14 {
  text-align: center;
}
 
.faculty-card3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.faculty-content4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.faculty-title3 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.faculty-text15 {
  align-self: center;
  font-style: normal;
  font-weight: 600;
}
 
.faculty-text16 {
  text-align: center;
}
 
.faculty-slider-pagination1 {
  display: block;
}
 
.faculty-slider2 {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
}
 
.faculty-slider-slide2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.faculty-card4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-content5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-title4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-text17 {
  font-style: normal;
  font-weight: 600;
}
 
.faculty-text19 {
  text-align: center;
}
 
.faculty-slider-slide3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.faculty-card5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-content6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-title5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-text21 {
  font-style: normal;
  font-weight: 600;
}
 
.faculty-text22 {
  text-align: center;
}
 
.faculty-slider-slide4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.faculty-card6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-content7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-title6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faculty-text23 {
  font-style: normal;
  font-weight: 600;
}
 
.faculty-text25 {
  text-align: center;
}
 
.faculty-slider-pagination2 {
  display: block;
}
 
.faculty-fragment1 {
  display: contents;
}
 
.faculty-text27 {
  display: inline-block;
}
 
.faculty-fragment2 {
  display: contents;
}
 
.faculty-text28 {
  display: inline-block;
}
 
.faculty-fragment3 {
  display: contents;
}
 
.faculty-text29 {
  display: inline-block;
}
 
.faculty-fragment4 {
  display: contents;
}
 
.faculty-text30 {
  display: inline-block;
}
 
.faculty-fragment5 {
  display: contents;
}
 
.faculty-text31 {
  display: inline-block;
}
 
.faculty-fragment6 {
  display: contents;
}
 
.faculty-text32 {
  display: inline-block;
}
 
.faculty-fragment7 {
  display: contents;
}
 
.faculty-text33 {
  display: inline-block;
}
 
@media(max-width: 1200px) {
  .faculty-team8 {
    height: 646px;
  }
}
 
@media(max-width: 991px) {
  .faculty-team8 {
    height: 443px;
    padding-top: 21px;
    padding-bottom: 12px;
  }
}
 
@media(max-width: 767px) {
  .faculty-team8 {
    height: 855px;
    padding: var(--dl-layout-space-threeunits);
  }
  .faculty-max-width {
    padding: var(--dl-layout-space-threeunits);
  }
  .faculty-slider1 {
    display: none;
  }
  .faculty-slider2 {
    display: block;
  }
}
 
@media(max-width: 479px) {
  .faculty-team8 {
    height: 443px;
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .faculty-max-width {
    height: 449px;
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .faculty-content5 {
    justify-content: center;
  }
  .faculty-title4 {
    justify-content: center;
  }
  .faculty-content6 {
    justify-content: center;
  }
  .faculty-title5 {
    justify-content: center;
  }
  .faculty-content7 {
    justify-content: center;
  }
  .faculty-title6 {
    justify-content: center;
  }
}
